<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>进行课程的展示</title>
</head>
<style>
    *{
        font-size: 40px;
    }
    .headers{
        width:100%;height:100px;background: green;color:white;padding-top: 20px;
    }

</style>
<body>
<center>
    <div class="headers">全部课程</div>
    {volist name="list" id="vo" }
    <a href="__URL__/detail?id={$vo.id}" class="detail" id="{$vo.id}" style=" text-decoration: none;color:black;">
        <table style="margin-top: 10px;">
            <tr>
                <td><img src="../../../../public/img/{$vo.img}" style="width:auto;height:250px;"></td>
                <td>
                    <table style="margin-left: 10px;">
                        <tr><td >{$vo.title}</td></tr>
                        <tr><td style="font-size: 30px">{$vo.desc}</td></tr>
                        <tr><td style="color:green;font-size: 30px" >{$vo.man}&nbsp;&nbsp;&nbsp;{$vo.man_desc}</td></tr>
                    </table>
                </td>
            </tr>
        </table>
    </a>
    {/volist}

    {include file="home@index/footer" }
</center>
</body>
</html>