<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品添加</title>
</head>
<body>
<center>
    <form action="__URL__/product_pro"  method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td>图片：</td>
                <td><input type="file" name="img"></td>
            </tr>
            <tr>
                <td>标题：</td>
                <td><input type="text" name="title"></td>
            </tr>
            <tr>
                <td>描述：</td>
                <td><textarea name="desc" cols="40" rows="10"></textarea></td>
            </tr>
            <tr>
                <td>内容详情：</td>
                <td><textarea name="content" id="" cols="40" rows="10"></textarea></td>
            </tr>

            <tr>
                <td>所属分类：</td>
                <td>
                    <select name="tid">
                        {volist name="type" id="vo"}
                        <option value="{$vo.tid}">{$vo.tname}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr>
                <td>视频添加：</td>
                <td>
                    <input type="file" name="video">
                </td>
            </tr>
            <tr>
                <td>作者：</td>
                <td><input type="text" name="man"></td>
            </tr>
            <tr>
                <td>作者描述：</td>
                <td>
                    <textarea name="man_desc"  cols="10" rows="5"></textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="提交"></td>
            </tr>
        </table>
    </form>
</center>
</body>
</html>